@using TravelPlanner.UI.Helpers
@{
    var _layoutData = UIHelper.GetLayoutData();
    var colors = UIHelper.GetUIColors();

    string mainTitle = ViewData["Title"] is null ? "" : ((string)(ViewData["Title"] ?? "")).Trim();
    if (mainTitle != "") mainTitle += " | ";
    mainTitle += "Seyahat Asistanı";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@mainTitle</title>

    <link type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/css/site.css" />
</head>
<body style="margin-bottom: 0px !important;">

    <header>
        <nav style="box-shadow: 0px 0px 5px black;" class="navbar navbar-expand-lg navbar-light bg-white fixed-top custom-navbar">
            <div class="container">

                <a class="navbar-brand fw-bold text-primary" href="/">
                    <i class="fa-solid fa-earth-americas me-2"></i>Seyahat Asistanı
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">
                                <i class="fa-solid fa-house fa-sm me-1"></i> Ana Sayfa
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="javascript:void(0);" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-map-location-dot fa-sm me-1"></i> Ülkeler
                            </a>
                            <ul class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
                                @for (int i = 0; i < _layoutData.Countries.Count; i++)
                                {
                                    var country = _layoutData.Countries[i];

                                    <li>
                                        <a class="dropdown-item" href="/country/@country.Code.ToLower().Replace("ı", "i")">
                                            <img src="/images/flags/@(country.Code.ToLower()).jpg"
                                                 alt="@country.Name Bayrağı"
                                                 class="me-3 rounded shadow-sm"
                                                 style="height: 12px; width: auto; object-fit: cover;" />@country.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/forecast">
                                <i class="fa-solid fa-chart-line fa-sm me-1"></i> Tahminler
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container main-container" id="main-container" style="margin-top: 90px !important;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white mt-auto py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <span>
                <a href="#" class="text-muted me-3"><i class="fa-brands fa-github fa-lg"></i></a>
                <a href="#" class="text-muted"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            </span>
        </div>
    </footer>
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <script type="text/javascript">
        $(document).ready(function() {
            loadContainerResizer();
        });

        function resizeContainer() {
            let c = document.getElementById('main-container');
            c.style.minHeight = (innerHeight - 150).toString() + "px";
        }

        function loadContainerResizer() {
            window.onresize = function() {
                resizeContainer();
            }
            setTimeout(resizeContainer, 0);
        }
    </script>
</body>
</html>